services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: my_blog_db
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
